.wp-block-image-selector-example-image {
    .components-spinner {
        margin: 0;
        float: none;
    }

    // Space consecutive buttons evenly.
    .components-button + .components-button {
        margin-top: 1em;
        margin-right: 8px;
    }
}

.hero {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-items: right;
  padding: 3rem;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  z-index: 2;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 300px;
  div, a {
    color: black;
  }

  @include media-breakpoint-up(md) {
    margin-left: 0;
    margin-right: 0;
  }
  .synops {
    margin-top: 15px;
    border-top: 1px solid $maroon;
    border-bottom: 1px solid $maroon;
    width: 100%;
    padding: 20px 10px;
    font-size:16px;
  }

  .featured-story-container {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    > a {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      text-decoration: none;
      border-bottom: none;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      h1 {
        margin-top: 0;
      }
    }
  }
  .cover-img {
    // height: 0;

    // img {
    //   display: none;
    // }

    @include media-breakpoint-up(md) {
      height: auto;
      img {
        display: inline;
        max-height: 30rem;
        width: auto;
        margin-right: 3rem;
      }
    }
  }
  .featured-story {
    h1 {
      font-size: 2rem;
      font-family: $moriston;
      font-weight: 600;
    }
    img {
      max-height: 24rem;
    }
  }
}
