.is-style-emphasized {
    font-family: $moriston;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 300;
}
  
.footnote {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 0.8rem;
}